h1{
    color: burlywood;
    background-color: crimson;
    text-align: center;
    width: 65%;
}
p{
    color: deeppink;
    background-color: honeydew;
}
button{
    color:greenyellow;
    background-color: darkkhaki;
}