.bd
{
    background-color: rgb(147, 106, 192);
}
.fm
{
    margin-top: 130px;
    margin-left: 500px;
    height: 400px;
    width: 350px;
    background-color: rgb(79, 125, 115);
    color: red;
    border: 3px solid blue;
    border-radius: 160px;
}
.em
{
    margin-top: 95px;
    margin-left: 80px;
    font-size: 36px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.pc
{
    margin-top: 5px;
    margin-left: 5px;
    font-size: 18px;
    background-color: antiquewhite;
}
.pass
{
    margin-left: 80px;
    font-size: 36px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.log
{
    margin-top: 15px;
    margin-left: 125px;
    font-size: 30px;
}
.new
{
    margin-top: 10px;
    margin-left: 180px;
    font-size: 28px;
}
.in
{
    font-size: 18px;
    color: crimson;
}
.up
{
    font-size: 14px;
    color: magenta;
}