div{
    height: auto;
    width: 500px;
    border: 6px dashed red;
    border-bottom: 4px dashed palevioletred;
    border-radius: 22px;
    padding: 24px;
    margin: 12px;
    /* display: inline-block ; */
}
h1{
    border-width: 3px;
    border-style: solid;
    border-color: blue ;
}

button{
    border: 5px solid red;
    padding: 12px;
    background-color: darkgrey;
    color: yellow;
    font-size: 15px;
    padding: 1em;
}
#out{
    font-size: 17px;
}
#inn{
    font-size: 2em;
    margin: 5%;
    
}